/* .pan-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.image-strip {
  display: flex;
  width: fit-content;
  animation: scrollPan 20s linear infinite;
}

.image-strip img {
  height: 100%;
  width: auto;
  flex-shrink: 0;
}

@keyframes scrollPan {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.image-strip:hover {
  animation-play-state: paused;
}

 */


.pan-container {
  width: 100%;
  height: 210px;
  overflow: hidden;
  position: relative;
}

.image-strip {
  display: flex;
  animation: scrollPan 30s linear infinite;
}

.image-strip img {
  height: 100%;
  width: auto;
  flex-shrink: 0;
  object-fit: cover;
}

@keyframes scrollPan {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.image-strip:hover {
  animation-play-state: paused;
}
